<div class="container-fluid hero"></div>

<div class="container">
  <!-- ON NE MET RIEN AVANT CE MESSAGE -->
  <!-- DIV APARTMENT GAUCHE -->
  <div class="row head-room">
    <div class="col-4">
      <div class="d-flex flex-row div-left-top">
        <div class="p-2">
          <img src="/images/home.svg" />
        </div>
        <div class="p-2">
          <p>The apartment</p>
        </div>
      </div>
    </div>
    <!-- FIN MI-DIV APARTMENT GAUCHE-->
    <!-- DÉBUT DIV APARTMENT DROITE -->
    <div class="col-8">
      <h3 type="text" class="form-control myLabel1 title">
        {{propertyItem.name}}
      </h3>
      <textarea rows="6" cols="120" readonly class="form-control-plaintext"> {{propertyItem.description}} </textarea>
      <div class="row div-right-margin-top">
        <div class="col-lg-4 col-md-4 col-sm-12 bold">
          Bedrooms
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          {{propertyItem.bedroom}}
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 bold">
          Bathrooms
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          {{propertyItem.bathroom}}
        </div>
      </div>
      <div class="row div-right-margin-top">
        <div class="col-lg-4 col-md-4 col-sm-12 bold">
          Interior Size
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          {{propertyItem.interiorSize}}
        </div>
        {{!-- <div class="col-lg-4 col-md-4 col-sm-12 bold">
          Parking
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          {{propertyItem.parking}}
        </div> --}}
      </div>
    </div>
  </div>
  <!-- FIN DIV APARTMENT DROITE -->
  <!-- DÉBUT DIV ADDRESS GAUCHE -->
  <div class="row head-room container-background">
    <div class="col-4">
      <div class="d-flex flex-row">
        <div class="p-2">
          <img src="/images/map-pin.svg" />
        </div>
        <div class="p-2">
          <p>Address</p>
        </div>
      </div>
    </div>

    <!-- FIN MI-DIV ADDRESS GAUCHE-->
    <!-- DÉBUT MI-DIV ADDRESS DROITE-->

    <div class="col-8 myAdress padding0">

      <div class="col-6">
        <h6 class="bold">Address</h6>
        <p>{{propertyItem.address.street1}}</p>
      </div>

<div class="col-6">
        <h6 class="bold">City</h6>
        <p>{{propertyItem.address.city}}</p>
      </div>

  <div class="col-6">
        <h6 class="bold">Zip Code</h6>
        <p>{{propertyItem.address.zipcode}}</p>
      </div>

      <div class="col-6">
        <h6 class="bold">Country</h6>
        <p>{{propertyItem.address.country}}</p>
      </div>

    </div>
  </div>
  <!-- FIN MI-DIV ADDRESS DROITE -->
  <!-- DÉBUT MI-DIV LEASE GAUCHE -->
  <div class="row head-room myWidth100">
    <div class="col-4">
      <div class="d-flex flex-row">
        <div class="p-2">
          <img src="/images/dollar-sign.svg" />
        </div>
        <div class="p-2">
          <p>Lease</p>
        </div>
      </div>
    </div>

    <!-- FIN MI-DIV LEASE GAUCHE -->
    <!-- DÉBUT MI-DIV LEASE DROITE -->
    <div class="col-8 padding0">
      <div class="col-12 d-flex flex-wrap div-right-margin-top">
        <div class="col-6 bold">Monthly Rent</div>
        <div class="col-6 addPadding30">{{propertyItem.rentAmount}}</div>
      </div>
      <div class="col-12 d-flex flex-wrap div-right-margin-top">
        <div class="col-6 bold">Security Deposit</div>
        <div class="col-6 addPadding30">{{propertyItem.deposit}}</div>
      </div>
    </div>
  </div>
  <!-- FIN MI-DIV-LEASE DROITE -->
  <!-- DÉBUT MI-DIV GAUCHE AMENITIES -->
  <div class="row head-room myWidth100 container-background">
    <div class="col-4">
      <div class="d-flex flex-row">
        <div class="p-2">
          <img src="/images/plus-circle.svg" />
        </div>
        <div class="p-2">
          <p>Amenities</p>
        </div>
      </div>
    </div>

    <!-- FIN MI-DIV AMENITIES GAUCHE -->
    <!-- DEBUT MI-DIV AMENITIES DROITE -->
    <div class="col-8 addPadding30">
      <div class="form-check addTopPadding myWrap">
        <div {{!-- class= --}} {{!-- "col-lg-4 col-md-4 col-sm-12" --}}>

          {{#each propertyItem.amenities}}
          {{this}} &nbsp;
          {{/each}}


        </div>
      </div>
    </div>
  </div>
  <a class="btn btn-primary" href=/property/{{propertyItem._id}}/edit role="button">
    Edit Property
  </a>
  <!-- ON NE SUPPRIME RIEN APRÈS CETTE LIGNE -->
</div>