<h2>Edit Profile</h2>
{{!-- route to the middle path request --}}
<form action="/{{userItem._id}}/process-edit-profile" method="POST" enctype="multipart/form-data">

  First Name:
  <label>
    <input type="text" name="firstName" value="{{userItem.firstName}}" required />
  </label>
  <label>
    Last Name:
    <input type="text" name="lastName" value="{{userItem.lastName}}" required />
  </label>
  <label>
    Role:
    <div class="field-body">
      <div class="control">
        <label class="radio">
          <input type="radio" value="Tenant" despace />
          Tenant
        </label>
        <label class="radio">
          <input type="radio" value="Landlord" despace />
          Landlord
        </label>
      </div>
  </label>
  <label>
    Email:
    <input type="email" name="email" value="{{userItem.email}}" required />
  </label>

  <label>
    Password:
    <input type="password" name="originalPassword" value="{{userItem.password}}" required />
  </label>

  <label>
    Phone:
    <input type="string" name="phone" value="{{userItem.phone}}" required />
  </label>

  <label>
    Profile Photo:
    <input type="file" name="profilePhoto" required />

  </label>

  <button>Update</button>
</form>