<div class="container">

  <h6>
    <strong>Edit your profile </strong><a class="cancel" href="/properties">Cancel</a>
    {{errorMessage}}

  </h6>
  <form class="head-room">

    <form action="/process-edit-profile" method="POST" enctype="multipart/form-data">

      <h6><span class="pastille">1</span> CHANGE PROFILE</h6>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputFirstName">First name</label>
          <input type="text" class="form-control" id="inputFirstName" name="firstName"
            value="{{currentUser.firstName}}" />
        </div>

        <div class="form-group col-md-6">
          <label for="inputLastName">Last name</label>
          <input type="text" class="form-control" id="inputLastName" name="lastName" value="{{currentUser.lastName}}" />
        </div>
      </div>

      <div class=" form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail">Email</label>
          <input type="email" class="form-control" id="inputEmail" name="email" value="{{currentUser.email}}" />
        </div>

        <div class=" form-group col-md-6">
          <label for="inputPhone">Phone</label>
          <input type="number" class="form-control" id="inputPhone" name="phone" value="{{currentUser.phone}}" />
        </div>
      </div>

      <div class=" form-row">
        <div class="form-group col-md-6">
          <label for="inputPicture">Profile picture</label>
          <input type="file" name="profilePhoto" class="form-control" id="inputPicture"
            value="{{currentUser.profilePicture}}" />
        </div>

        <div class="form-group col-md-6">
          <label for="inputRole">Role</label>
          <select name="role" id="inputRole" class="form-control">
            <option selected>Landlord</option>
            <option>Tenant</option>
          </select>
        </div>
      </div>

      <h6><span class="pastille">2</span> CHANGE PASSWORD</h6>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputPassword">Password</label>
          <input type="password" class="form-control" id="inputPassword" name="originalPassword"
            placeholder="New Password Here" />
        </div>

        <div class="form-group col-md-6">
          <label for="inputConfirmPassword">Confirm password</label>
          <input type="password" class="form-control" id="inputConfirmPassword" name="confirmPassword"
            placeholder="Confirm Password Here" />
        </div>
      </div>

      <button class="btn btn-primary">Submit Changes</button>

    </form>
</div>